/* .view-product-modal {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.view-product-modal .MuiIconButton-root {
  font-size: 24px;
}

.view-product-modal img {
  border-radius: 8px;
}

.view-product-modal h5 {
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.view-product-modal .MuiButton-root {
  margin-top: 15px;
} */
